<div id="screen">
    <div id="header" class="bg-primary text-white">
        <h1>Welcome to Road Racer!</h1>
    </div>

    <div id="playArea" class="bg-white">
        <div #absoluteArea id="absoluteArea" class="relativeArea bg-info">
            <div class="playAreaRow">
                <div class="sideWalkLeft bg-success"></div>
                <div class="road">
                    <div class="roadPart">
                    </div>

                    <div class="roadLinesBorder bg-white">
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesMiddle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesMiddle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesBorder bg-white">
                    </div>

                    <div class="roadPart">
                    </div>
                </div>
                <div class="sideWalkRight bg-success"></div>
            </div>

            <div class="playAreaRow">
                <div class="sideWalkLeft bg-success"></div>
                <div class="road">
                    <div class="roadPart">
                    </div>

                    <div class="roadLinesBorder bg-white">
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesMiddle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesMiddle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesBorder bg-white">
                    </div>

                    <div class="roadPart">
                    </div>
                </div>
                <div class="sideWalkRight bg-success"></div>
            </div>

            <div class="playAreaRow">
                <div class="sideWalkLeft bg-success"></div>
                <div class="road">
                    <div class="roadPart">
                    </div>

                    <div class="roadLinesBorder bg-white">
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesMiddle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesMiddle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="roadPart">
                    </div>

                    <div class="roadLinesBorder bg-white">
                    </div>

                    <div class="roadPart">
                    </div>
                </div>
                <div class="sideWalkRight bg-success"></div>
            </div>
        </div>
    </div>

    <div id="footer" class="bg-info text-white">
        <h6 class="m-0"> @Berlin2020. This page is made with love by <strong class="text-warning">@heltutan</strong>.
            All right reserved.
        </h6>
    </div>
</div>